<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portofolio - Certificates</title>
		<link href="{{{assetsPath}}}/styles/certificates.css" rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div id="parallax">
				<div id="parallax-background">
					<div id="moon"></div>
					<div id="mountain-1"></div>
					<div id="mountain-2"></div>
					<div id="mountain-3"></div>
					<div id="foreground"></div>
				</div>

				<div id="parallax-content">
					<h1>Certificates</h1>
					<a class="buttons" id="explore-button" destination="#certificates"
						>Explore</a
					>
				</div>
			</div>

			<nav>
				<a id="home-nav" href="/">Portofolio</a>
				<i class="material-icons" id="hamburger-menu">menu</i>
				<div id="nav-buttons">
					<a id="about-nav" href="/">Home</a>
					<a id="projects-nav" href="projects">Projects</a>
					<a id="certificate-nav" class="selected-nav" href="certificates"
						>Certificates</a
					>
				</div>
			</nav>
		</header>

		<main>
			<section id="certificates">
				<h2>Certificates</h2>
				<div id="certificates-list">
					<div class="certificate-section" id="dicoding-certificates">
						<h3>Dicoding Certificates</h3>
						<div class="certificate-container">
							<figure>
								<img
									src="https://i.ibb.co/Mh1smPh/sertifikat-solid.png"
									alt="Sertifikat Solid"
								/>
								<figcaption>Sertfikat Solid</figcaption>
							</figure>
							<figure>
								<img
									src="https://i.ibb.co/Mn6VfFF/sertifikat-kotlin.png"
									alt="Sertifikat Kotlin"
								/>
								<figcaption>Sertfikat Kotlin</figcaption>
							</figure>
							<figure>
								<img
									src="https://i.ibb.co/DRWZWNB/sertifikat-js.png"
									alt="Sertifikat JS"
								/>
								<figcaption>Sertifikat JS</figcaption>
							</figure>
							<figure>
								<img
									src="https://i.ibb.co/8snywcL/sertifikat-flutter.png"
									alt="Sertifikat Flutter"
								/>
								<figcaption>Sertifikat Flutter</figcaption>
							</figure>
							<figure>
								<img
									src="https://i.ibb.co/87cY1Nh/sertifikat-web.png"
									alt="Sertifikat Web"
								/>
								<figcaption>Sertifikat Web</figcaption>
							</figure>
							<figure>
								<img
									src="https://i.ibb.co/cr05fKJ/sertifikat-front-end.png"
									alt="Sertifikat Front-End"
								/>
								<figcaption>Sertifikat Front-End</figcaption>
							</figure>
							<figure>
								<img
									src="https://i.ibb.co/BysZY4J/sertifikat-android-pemula.png"
									alt="Sertifikat Android Pemula"
								/>
								<figcaption>Sertifikat Android Pemula</figcaption>
							</figure>
							<figure>
								<img
									src="https://i.ibb.co/W58dh1z/sertifikat-google-cloud.png"
									alt="Sertifikat Google Cloud"
								/>
								<figcaption>Sertifikat Google Cloud</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer>
			<p>Made by <b>Yahdi Ilham Fahmi</b></p>
		</footer>

		<script src="{{{assetsPath}}}/scripts/parallax.js"></script>
		<script src="{{{assetsPath}}}/scripts/common.js"></script>
	</body>
</html>
