<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portofolio - Projects</title>
		<link href="{{{assetsPath}}}/styles/projects.css" rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div id="parallax">
				<div id="parallax-background">
					<div id="moon"></div>
					<div id="mountain-1"></div>
					<div id="mountain-2"></div>
					<div id="mountain-3"></div>
					<div id="foreground"></div>
				</div>

				<div id="parallax-content">
					<h1>Projects</h1>
					<a class="buttons" id="explore-button" destination="#projects"
						>Explore</a
					>
				</div>
			</div>

			<nav>
				<a id="home-nav" href="/">Portofolio</a>
				<i class="material-icons" id="hamburger-menu">menu</i>
				<div id="nav-buttons">
					<a id="about-nav" href="/">Home</a>
					<a id="projects-nav" class="selected-nav" href="projects">Projects</a>
					<a id="certificate-nav" href="certificates">Certificates</a>
				</div>
			</nav>
		</header>

		<main>
			<section id="projects">
				<h2>Projects</h2>

				<div id="projects-list" class="creation-display">
					<div class="creation-section" id="it-projects">
						<h3>IT Projects</h3>
						<div class="creation-container">
							<div class="project-item">
								<img
									src="https://i.ibb.co/HB01jj3/Le-Vaccine.png"
									alt="LeVaccine"
								/>
								<h4>
									<a href="https://github.com/yahdee2702/LeVaccine"
										>LeVaccine</a
									>
								</h4>
							</div>
							<div class="project-item">
								<img
									src="https://i.ibb.co/GvTYZhD/Arkan-App.png"
									alt="Arkan App"
								/>
								<h4>
									<a href="https://github.com/yahdee2702/ArkanApp">Arkan App</a>
								</h4>
							</div>
							<div class="project-item">
								<img
									src="https://i.ibb.co/8sCfcG7/Kisah-Nabi-App.png"
									alt="Kisah Nabi App"
								/>
								<h4>
									<a href="https://github.com/yahdee2702/KisahNabiApp"
										>Kisah Nabi App</a
									>
								</h4>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer>
			<p>Made by <b>Yahdi Ilham Fahmi</b></p>
		</footer>

		<script src="{{{assetsPath}}}/scripts/parallax.js"></script>
		<script src="{{{assetsPath}}}/scripts/common.js"></script>
	</body>
</html>
