<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portofolio - Projects</title>
		<link href="{{{assetsPath}}}/styles/projects.css" rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div id="parallax">
				<div id="parallax-background">
					<div id="moon"></div>
					<div id="mountain-1"></div>
					<div id="mountain-2"></div>
					<div id="mountain-3"></div>
					<div id="foreground"></div>
				</div>

				<div id="parallax-content">
					<h1>Projects</h1>
					<a class="buttons" id="explore-button" destination="#projects"
						>Explore</a
					>
				</div>
			</div>

			<nav>
				<a id="home-nav" href="/">Portofolio</a>
				<i class="material-icons" id="hamburger-menu">menu</i>
				<div id="nav-buttons">
					<a id="about-nav" href="/">Home</a>
					<a id="projects-nav" class="selected-nav" href="projects">Projects</a>
					<a id="certificate-nav" href="certificates">Certificates</a>
				</div>
			</nav>
		</header>

		<main>
			<section id="projects">
				<h2>Projects</h2>
				<div id="projects-list">
					<div class="project-container">
						<img
							src="https://i.ibb.co/Mh1smPh/sertifikat-solid.png"
							alt="Arkan App"
						/>
						<div class="project-detail">
							<h3>Arkan App</h3>
							<p>
								This is an app that I, Istianto Ilham, and M. Baqir Syafiq made
								for the IDN 2nd Semester Final Project.
							</p>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer>
			<p>Made by <b>Yahdi Ilham Fahmi</b></p>
		</footer>

		<script src="{{{assetsPath}}}/scripts/parallax.js"></script>
		<script src="{{{assetsPath}}}/scripts/common.js"></script>
	</body>
</html>
